#contact{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 1300px;
    font-family:'Ubuntu', sans-serif  ;
}

#inputs{
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif ;
}